* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.todoList {
  width: 80%;
  margin: 10rem auto 10rem;
  background: linear-gradient(140deg, peachpuff, dodgerblue);
  padding: 3rem;
}
